[Desktop Entry]
Name=UTG Student Dashboard
Version=1.1.1
Terminal=false
Exec=utg-student-dashboard
Icon=${SNAP}/meta/gui/dashboard.png
Type=Application
Categories=Office;
Comment=A student management system for the University of The Gambia
Keywords=Management; Organization; Information; Education;